@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/ibm-plex-mono,woof2), url(assets/ibm-plex-mono.woff);
}

@font-face {
  font-family: "Young Serif";
  src: url(assets/youngserif,woof2), url(youngserif.woff);
}

body {
	font-family: IBM Plex Mono;
	font-size: 16px;
	line-height: 1.5;

	background-color: #ffffff;
	color: #2a2a2a;
	margin: 40px auto 40px auto;
	width: 620px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #000b9d;
  color: white;
  font-family: Young Serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a{
  color: white;
  margin: 5px 32px 5px 32px;
  text-decoration: none;
}
